<%- include('partials/header', { title: 'Omnia - Error' }) %>
<%- include('partials/navbar', { user: user }) %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <%- include('partials/error-card', { error: error }) %>
        </div>
    </div>
</div>

<%- include('partials/footer') %>